# Configuration file for fw_(printenv/saveenv) utility.
#
# Hardware     : Marvell Plug2L Reference Board
# No redundant environment
#
# XXX this configuration might miss a fifth parameter for the "Number of
# sectors"

# MTD device name   Device offset   Env. size   Flash sector size
/dev/mtd0           0x40000         0x20000     0x20000
